a{
    text-decoration: wavy;
    color: black;
    font-family: "Poetsen One", sans-serif;
}
.divelements{
    display: flex;
    justify-content: space-between;
    background: rgb(92, 140, 251);
    border-radius: 20px;
    height: 50px;
    align-items: center;
    border: 3px dotted;
    width: 450px;
}
body{
    font-family: "Poetsen One", sans-serif;
    background-color: rgb(182, 203, 251);
}
.centerelements{
    display: flex;
    flex-direction: column;
}
.single{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
button{
    border-radius: 18px;
    font-size: 15px;
    background-color: rgb(199, 237, 255);
    border: none;
}
.big{
    height: 500px;
    width: 500px;
    background:rgb(200, 200, 243);
    border-radius: 20px;
    transition: 3s ease-in-out;
}
.small{
    height: 100px;
    width: 100px;
    background:rgb(200, 200, 243);
    border-radius: 20px;
    transition: 3s ease-in-out;
}
button{
    height: 50px;
    width: 140px;
}
.container {
    width: 100%;
    overflow: hidden;
}

.slider {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.slider img {
    position: relative;
    transform: translateX(100%);
    transition: transform 1.0s ease;
}

.slider:hover img {
    transform: translateX(0);
}
.fearures{
    display: flex;
    align-items: start;
}

.container2 {
    width: 100%;
    overflow: hidden;
}

.slider2 {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.slider2 h1 {
    position: relative;
    transform: translateX(100%);
    transition: transform 2.0s ease;
}

.slider2:hover h1 {
    transform: translateX(0);
}
.container2 {
    width: 100%;
    overflow: hidden;
}

.slider3 {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.slider3 pre {
    position: relative;
    transform: translateX(100%);
    transition: transform 2.0s ease;
}

.slider3:hover pre {
    transform: translateX(0);
}