[Unit]
Description=Start PTCLI on tty1
After=multi-user.target

[Service]
ExecStart=/PTCLI/cli
StandardInput=tty
StandardOutput=tty
TTYPath=/dev/tty1
Restart=always

[Install]
WantedBy=multi-user.target